{%extends "base.html.twig" %}
	{% block title %} Survey Manager Main Page {% endblock %}
	{%block stylesheets %}
		<link href="{{asset('bundles/osddesign/css/bootstrap.min.css')}}" rel="stylesheet" />
	{% endblock %}
	{% block body %}
		<script src="{{asset('bundles/osddesign/js/jquery-2.0.3.min.js')}}"></script>
		<script src="{{asset('bundles/osddesign/js/bootstrap.min.js')}}"></script>
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Brand</a>
		  </div>
		</nav>
		Hello {{ name }}!
	{% endblock %}