{%extends "base.html.twig" %}
	{% block title %}
		Login
	{% endblock %}
	{%block stylesheets %}
		<link href="{{asset('bundles/osddesign/css/bootstrap.min.css')}}" rel="stylesheet" />
	{% endblock %}
	{% block body %}
		{%block stylesheet %}{% endblock %}
		<script src="{{asset('bundles/osddesign/js/jquery-2.0.3.min.js')}}"></script>
		<script src="{{asset('bundles/osddesign/js/bootstrap.min.js')}}"></script>
		
		
		{% block login_widget %}
		{% endblock %}
	{% endblock %}
