{%extends "OsdUserBundle:Default:index.html.twig" %}

{% block stylesheet %}
	<style>
		.login_widget { width:500px; margin:auto; margin-top:100px; }
	</style> 
{% endblock %}
{% block login_widget %}
	<div class="login_widget well well-sm">
		{% if (error == true) %}
			<div class="alert alert-danger"><span class="glyphicon glyphicon-ban-circle"></span> {{ error_msg }}</div>
		{% endif %}
		<form class="form-horizontal" role="form" method="POST" action="{{path('osd_user_default_index')}}">
			<div class="form-group">
				<label for="username" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" name="username" id="username" placeholder="email" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-lg-2 control-label">Password</label>
				<div class="col-lg-10">
					<input type="password" class="form-control" name="password" id="password" placeholder="Password" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
			      <div class="checkbox">
			        <label>
			          <input type="checkbox"  name="remember_me" id="remember_me"> Remember me?
			        </label>
			      </div>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-lg-offset-2 col-lg-1">
			      <button type="submit" class="btn btn-primary" name="sign_in">Sign in</button>
			    </div>
			    <div class="col-lg-offset-2 col-lg-1">
			      <button type="submit" class="btn btn-warning" name="sign_up">Sign up</button>
			    </div>
			    <div class="col-lg-offset-2 col-lg-4">
			      Forgot Password?
			    </div>
			  </div>
		</form>
	</div>
{% endblock %}