{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Question</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Question</th>
                <td>{{ entity.question }}</td>
            </tr>
            <tr>
                <th>Responsetype</th>
                <td>{{ entity.responseType }}</td>
            </tr>
            <tr>
                <th>Options</th>
                <td>{{ entity.options }}</td>
            </tr>
            <tr>
                <th>Isrequired</th>
                <td>{{ entity.isRequired }}</td>
            </tr>
            <tr>
                <th>Isenabled</th>
                <td>{{ entity.isEnabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_question') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_question_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_question_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
