{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>Password</th>
                <th>Usercreated</th>
                <th>Userexpired</th>
                <th>Isactivated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_users_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.userName }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.password }}</td>
                <td>{% if entity.userCreated %}{{ entity.userCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.userExpired %}{{ entity.userExpired|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.isActivated }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_users_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_users_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_users_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
