{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.userName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Usercreated</th>
                <td>{{ entity.userCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Userexpired</th>
                <td>{{ entity.userExpired|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isactivated</th>
                <td>{{ entity.isActivated }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_users') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_users_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('admin_users_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
